.sibn {
  background: url("../images/spa.jpeg") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.home {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}
.barber,
.salon,
.massage {
  width: 600px;
}
