.sibn {
  background: url("../images/msssg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 20px;
}
.hh {
  padding-top: 23%;
  font-family: "Caveat", cursive;
  font-size: 80px;
  color: black;
  font-size: 15px;
}
.hh {
  padding-top: 23%;
  font-family: "Caveat", cursive;
  font-size: 65px;
  color: black;
}

.sv {
  text-align: center;
  font-family: "Poiret One", cursive;
}

.co {
  font-family: "Poiret One", cursive;
}

.about {
  background-image: url("../images/BD3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  color: rgba(245, 238, 202, 0.877);
  font-size: 20px;
}

.home {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

/* .massage,
.salon,
.barber {
  width: 500px;
} */
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}

.dropdown-menu>li>a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

#head {
  color:rgb(226, 23, 23);
  font-size: 10vh;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin-top: -1em;
}

.massage {
  width: 600px;
}

.navbar {
  color: brown;
  text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#back{
  color: black;
  font-weight: bold;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-image: url(/images/service.jpg);
  color: black;
  transform: rotateY(180deg);
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close,
.closer,
.closeer {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


 /* {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

.closer:hover,
.closer:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* .closeer {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */

.closeer:hover,
.closeer:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal{
  width: 100vw;
}

.modal-header {
  padding: 2px 16px;
  background-color: #c71585;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #c71585;
  color: white;
}
.bill,
.total {
  float: center;
}
.copy{
  text-align: center;
}

#to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: rgba(0, 0, 0, 0.4);
  width: 70px;
  height: 70px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.5 ease;
}

#to-top i{
  color: greenyellow;
  margin: 0;
  position: relative;
  left: 22px;
  top: 20px;
  font-size: 25px;
}

#to-top:hover{
  background: rgba(0, 0, 0, 0.9);
}