.sibn {
  background-image: url("../images/spa.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.home {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}
.barber,
.salon,
.massage {
  width: 600px;
}
